body {
    background-color: rgb(23, 71, 230);
    margin: 0px;

}

header {
    background-color: rgb(12, 22, 44);
    height: 3rem;
    margin: 0px;
    margin-right: 0px;
    padding: 10px;
    color: white;
    box-shadow: 0px 20px rgb(40, 22, 229);
}

header>p>a {
    color: white;
    letter-spacing: 2pt;
}

.img_container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 0px;
    height: 25vh;
}

.main_container {
    display: grid;
    justify-self: center;
    background-color: rgb(67, 44, 131);
    border: 1rem solid rgb(230, 198, 23);
    border-radius: 3rem;
    width: 80vw;
    margin-top: -5rem;
}

.sub_container {
    display: grid;
    padding: 20px;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-top: 50px;

}

.main_row {
    justify-self: center;
    background-color: rgb(230, 198, 23);
    width: 100%;
    height: 40vh;
    border-radius: 3rem;
}

.contained {
    display: flex;
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    object-fit: cover;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.alt_row {
    justify-self: center;
    background-color: #6140BC;
    width: 100%;
    height: 40vh;
    border-radius: 3rem;
}

.nav {
    background-color: rgb(230, 198, 23);
    justify-self: center;
    border: 1rem solid rgb(230, 198, 23);
    border-radius: 3rem;
    width: 92%;
    margin: 10px;

}


.special_row {
    background-color: rgb(30, 129, 26);
    width: 90%;
    border-radius: 3rem;
}

/** details **/

.details_container {
    position: relative;
    height: 100%;
    width: 100%;
}

/** footer **/


.footer_container {
    background-color: rgb(12, 22, 44);
    margin: 0px;
    margin-top: 2rem;
    padding-left: 4rem;
    color: white;
    display: grid;
    grid-template-columns: 50vw 6fr 3fr 6fr;
    gap: 10rem;
}


.footer_row {
    font-size: large;
}